body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/assets/image.webp') no-repeat center center fixed;
  /* background: linear-gradient(to right, #cb9595, #ffd700, #ff8c00); */
  background-size: cover;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.totals {
  text-align: center;
  margin-bottom: 20px;
}

.totals p {
  font-size: 18px;
}

.form-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.9);
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input, form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button, #update-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover, #update-button:hover {
  background-color: #218838;
}

.transactions-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.9);
}

.transactions {
  list-style-type: none;
  padding: 0;
}

.transactions li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
}

.transactions li button:hover {
  background-color: #c82333;
}
